/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require_tree .
*/

// temporary fix for compass_twitter_bootstrap
@function e($raw-css) {
    @return #{$raw-css}
}


@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap/layouts";

#page {
  padding-top: 90px;
}

#bd {
}

#hd {
  @extend .navbar;
  @extend .navbar-fixed-top;
}

#logo {
  display: none;
}

#user_util_links {
  @extend .container;
}


#sidebar {
  @extend .span3; 
  @include gridSystem-gridColumn($gridGutterWidth);
}

#main {
  @extend .span9;
  @include gridSystem-gridColumn($gridGutterWidth);
  margin-left: 0;
}

#main_container {
}
#sortAndPerPage {
  @extend .row;
  .per_page {
    @extend .span4;
  @include gridSystem-gridColumn($gridGutterWidth);
  }

  #sort_form {
  @include gridSystem-gridColumn($gridGutterWidth);
    @extend .span4;
  }

  label, select {
     display: inline;
     width: auto;
  }
}

.document, #document {
  @extend .row;
  margin-left: 0;

  .documentHeader {
    @extend .row;
    margin-left: 0;
  }

  .documentFunctions form{
    @include gridSystem-gridColumn($gridGutterWidth);
    @extend .span1;
    width: 80px;
    margin-left: 0;
    float: right;

    input, label {
      display: inline;
    }
  }
}

.new_user {

  br { display: none; }
}

#documents table {
  @extend .table;
  @extend .table-striped;
}

#search {
  @extend .form-search;

  input[type="text"] {
    @extend .search-query;
  }  

  #submit {
    @extend .icon-search;
    @extend .btn-primary;
  }
}
